##
## mbc plugin: trigger script on mailbox creation and renaming
##

# This plugin uses the notify plugin in order to get the
# events. So do not forget to enable the plugins in
# 10-mail.conf by adding them to mail_plugins
# (e.g. mail_plugins = $mail_plugins notify mbc)

plugin {
	# Give the path to the script which should be executed
	mbc_script = /etc/dovecot/mbc_script.sh
}
